:root {
    --header-height: 2rem;
    --border-color: #687A86;
    --first-color: #5669a7;
    --first-color-light: #BACDDA;
    --second-color-light: #FDF9BC;
    --third-color-light: #A5DCBF;
    --white-color: #FDF7FF;
    --text-color: #051821;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 0.9rem;
    --z-fixed: 90;
}

#idContainer {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.form-control, .form-select {
    font-size: var(--normal-font-size);
}

.box-tipo-pessoa {
    border: 1px solid var(--first-color-light);
    border-radius: 4px;
    background-color: white;
    padding: 6px 0 0 10px;
    height: 35px;
}

.TabControl {
    width: 98%;
    overflow: hidden;
    height: 100%;
}

    .TabControl #header {
        width: 100%;
        overflow: hidden;
    }

    .TabControl #content {
        width: 100%;
        border: 1px solid var(--first-color-light);
        overflow: hidden;
        height: 310px;
    }

    .TabControl .abas {
        display: inline;
    }

        .TabControl .abas li {
            float: left;
            list-style: none;
        }

.aba {
    width: 100px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 5px;
    background: var(--first-color-light);
}

.ativa {
    width: 100px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 5px;
    background: var(--first-color);
}

    .ativa span, .selected span {
        color: #fff;
    }

.TabControl #content {
    background: var(--first-color-light); /*#27408B;*/
}

.TabControl .conteudo {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background: white;
    display: none;
    height: 100%;
}

.selected {
    width: 100px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 5px;
    background: var(--first-color);
}

#abaVeiculo .table {
    width: 80%;
    font-size: 0.8rem;
}

.tb-item-veiculo {
    width: 25px;
}

.tb-placa {
    width: 55px;
}

.tb-veiculo {
    width: 250px;
}

.tb-ano-modelo, .tb-km {
    width: 85px;
}

form {
    padding: 3px 15px 15px 10px;
}

.form-group {
    margin-top: 15px;
}

.grupo-btn-comando {
    /* border: soli d 1px; */
    width: 310px;
    float: right;
    margin-top: 20px;
    margin-right: 36px;
}

.btn-salvar, .btn-cancelar, .btn-excluir {
    width: 100px;
}


@media screen and (max-width: 768px) {
    .TabControl {
        width: 100%;
        overflow: hidden;
        height: 100%;
    }

    #row-pg-1 {
        width: 100%;
    }

    #row-pg-2 {
        width: 100%;
    }

    /* ESTILO DO FORMULÁRIO LOGRADOURO */

    #cep {
        width: 128px;
    }

    #endereco {
        width: 26rem;
    }

    #numero {
        width: 80px;
    }

    #cidade, #estado {
        width: 90px;
    }

    #complemento {
        width: 300px;
    }
}
