@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 2rem;
    --nav-width: 68px;
    --first-color: #687A86;
    --first-color-light: #BACDDA;
    --second-color-light: #FDF9BC;
    --third-color-light: #A5DCBF;
    --white-color: #FDF7FF;
    --text-color: #051821;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 0.8rem;
    --z-fixed: 90;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #BACDDA;
}

::-webkit-scrollbar-thumb {
    background: #687A86;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #051821;
    }

body {
    position: absolute;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    width: 100%;
    height: 93%;
    /* overflow: hidden; */
}

a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--text-color);
    z-index: var(--z-fixed);
    transition: .5s;
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.header_img {
    width: 55px;
    height: 32px;
    display: flex;
    justify-content: center;
    border-radius: 10%;
    overflow: hidden;
}

.icn-crm-auto {
    width: 50%;
    height: 35%;
    margin-left: -10px;
    margin-top: -15px;
}

.container {
    margin-left: 0;
}

#idContainer {
    height: 650px;
}

#main {
    margin-top: -25px;
}

.inp-pesquisa {
    margin-left: -11px;
    width: 550px;
}

.TabControl {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

    .TabControl #header {
        width: 100%;
        overflow: hidden;
    }

    .TabControl #content {
        width: 100%;
        border: 1px solid var(--first-color-light);
        overflow: hidden;
        height: 250px;
        padding: 8px;
    }

    .TabControl .abas {
        display: inline;
    }

    .TabControl .abas li {
        float: left;
        list-style: none;
        cursor: pointer;
    }

.aba {
    width: 100px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 5px;
    background: var(--first-color-light);
}

.ativa {
    width: 100px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 5px;
    background: var(--first-color);
}

.ativa span, .selected span {
    color: #fff;
}

.TabControl .conteudo {
    width: 100%;
    background: white;
    display: none;
}

.selected {
    width: 100px;
    height: 30px;
    border: 1px solid var(--border-color);
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 5px;
    background: #5669a7;
}

#abaVeiculo .table {
    width: 80%;
    font-size: 0.8rem;
}

.tb-item-veiculo {
    width: 25px;
}

.tb-placa {
    width: 55px;
}

.tb-veiculo {
    width: 250px;
}

.tb-ano-modelo, .tb-km {
    width: 85px;
}

.row {
    margin-top: 5px;
}

.btn-user {
    background-color: var(--first-color);
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--text-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed);
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 0.8rem;
    padding: .5rem 0 .5rem 1.4rem;
}

.nav_logo {
    margin-bottom: 2rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color);
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 0.9rem;
    transition: .3s;
}

    .nav_link:hover {
        color: var(--white-color);
    }

.nav_icon {
    font-size: 1.25rem;
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem);
}

.active {
    color: var(--white-color);
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--text-color)
    }

.height-100 {
    height: 100vh;
}

#estado {
    width: 60px;
}

.form-select {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.btn-novo-cadastro {
    width: 300px;
}

.btn-atualizar, .btn-fechar, .btn-excluir, .btn-novo {
    width: 80px;
}

.btn-atualizar, .btn-excluir, .btn-novo {
    margin-right: 7px;
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem);
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0;
    }

    .show {
        width: calc(var(--nav-width) + 156px);
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px);
    }

    .modal-backdrop.fade.show {
        width: 100%;
    }
}

#idContainer {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.form-control {
    font-size: var(--normal-font-size);
}

.tbl-container {
    margin-right: 11px;
    margin-top: 1.5rem;
}

.bdr {
    border-radius: 3px;
    overflow: hidden;
}
